<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>练手社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script
            src="http://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">


</head>
<body style="background-color:#efefef">
<div th:insert="~{navigation :: nav}"></div>
    <div class="container-fluid" style="margin: 30px;background-color: white">
        <div class="row">

                <div class="jumbotron">
                    <h1>出错啦!</h1>
                    <p >啧啧啧，被你弄坏了</p>
                    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页吧</a></p>
                </div>



        </div>
    </div>

</body>
</html>