<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布-练手社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script
            src="http://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/editormd.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
</head>
<body style="background-color: #efefef">
<div th:insert="~{navigation :: nav}"></div>
<!--主体-->
<div class="container-fluid" style="margin: 30px;background-color: white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-xs-12" >
            <h2> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${question.id}" id="id">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" class="form-control" th:value="${question.title}" id="title" name="title" placeholder="问题标题">
                </div>
                <div class="form-group" id="question-editor">
                    <label for="description">问题补充</label>
                    <textarea name="description" id="description" class="form-control" th:text="${question.description}"
                              cols="30"
                              rows="10"
                              ></textarea>
                </div>
                <script type="text/javascript">
                    $(function(){
                        var editor=editormd("question-editor",{
                             width:"100%",
                            height:"360px",
                            path:"/js/lib/",
                            delay:0,
                            watch:false,
                            placeholder:"输入问题描述",
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" th:value="${question.tag}" id="tag" name="tag"
                           placeholder="从下面选择你的问题标签" autocomplete="off" onclick="showSelectTag()">
                    <div id="SelectTag" style="display: none;margin-top: 10px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"  th:each="tag,tagState:${tags}" th:class="${tagState.first?'active':''}">
                                <a th:href="${'#'+tag.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${tag.categoryName}"></a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" th:id="${tag.categoryName}"
                                 th:each="tag,tagState:${tags}"
                                 th:class="${tagState.first ? 'active tab-pane':'tab-pane'}">
                                <span class="label label-info" th:each="selectTag:${tag.tags}" style="white-space: normal;margin: 5px 5px;display: inline-block;" >
                                    <span class="glyphicon glyphicon-tags" aria-hidden="true" onclick="selectTag(this)" th:text="${' '+selectTag}" th:data-tag="${selectTag}">
                                    </span>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container-fluid" >
                    <div class="row">
                        <div class="alert alert-danger col-lg-9 col-md-9 col-xs-12"  th:text="${error}" th:if="${error!=null}"></div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <button type="submit" class="btn btn-success" style="float: right;margin-bottom: 10px">
                                发布
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-xs-12" >
            <h3>问题发布指南</h3>
            *标题、描述、标签均不能为空<hr>
            *标签必须从标签库中选择，以便相关问题的推荐<hr>
            *热门话题将用问题浏览数进行推荐<hr>
            *尝试将github授权改为qq授权，github不稳定，会出现连接重置现象<hr>

        </div>
    </div>
</div>
<!--页尾-->
<div th:insert="~{foot :: foot}"></div>
</body>
</html>